# set default $LANG
if [[ $LANG = '' ]]; then
	export LANG=en_US.UTF-8
fi

alias df='df -h'
alias ls='ls -h --color=tty'

# quick-edit shortcuts
alias zshcfg='vim ~/.zshrc && source ~/.zshrc'
alias aliascfg='vim ~/.aliases && source ~/.aliases'

# systemd-related
alias journalctl='sudo journalctl'
alias systemctl='sudo systemctl'

# Fedora
# alias dnf='sudo dnf'
# alias dnfi='dnf install'
# alias dnfud='dnf check-update && dnf-update'
# alias dnfs='dnf search'
# alias dnfr='dnf remove'

# Clear Linux
#alias swupd='sudo swupd'
#alias sws='swupd search'
#alias swi='swupd bundle-add'
#alias swl='swupd bundle-list'
#alias swu='swupd update'

# apt-related
alias agi='sudo apt install'
alias agar='sudo apt autoremove'
alias agud='sudo apt update && sudo apt full-upgrade'
alias acs='/usr/bin/apt search'

# pacman-related
#alias paci='sudo pacman -S'
#alias pacs='sudo pacman -Ss'
#alias pacu='sudo pacman -Syu --noconfirm'
#alias pacrepo='sudo reflector -l 20 -f 10 --save /etc/pacman.d/mirrorlist'


