alias df='df -h'

# alternatives
alias cat='bat' # https://github.com/sharkdp/bat

# apt-related
alias agi='sudo apt install'
alias agar='sudo apt autoremove'
alias agud='sudo apt update && sudo apt full-upgrade'
alias acs='sudo apt search'